.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  padding: 2rem;
  width: 70%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 2rem;
}
.input-controls {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
}
input {
  padding: 0.3rem 0.4rem;
  font-size: 17px;
  outline: 0;
  border: 1px solid rgb(12, 133, 133);
}
.button {
  font-size: 17px;
  padding: 0.3rem 1rem;
  margin-left: 0.4rem;
  cursor: pointer;
  background-color: teal;
  border: 0;
  outline: 0;
  color: white;
  border-radius: 3px;
}
.error {
  color: rgb(255, 0, 43);
}

.invalid {
  border-color: rgb(255, 0, 43);
}
.hide {
  background-color: gray;
}
